@{
    ViewBag.Title = "데이터 내보내기";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>데이터 내보내기</h2>
            <p class="text-muted">데이터를 JSON 파일로 내보내기</p>
            <button type="button" class="btn btn-primary btn-lg" id="btnShowPreview">
                <span class="glyphicon glyphicon-export"></span> 데이터 미리보기
            </button>
        </div>
    </div>
</div>

@Html.Partial("_PreviewModal")

@section Scripts {
    <script src="~/Scripts/dataExport.js"></script>
}
